<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Environment-->
    <add key="workingDirectory" value="C:\TWO_fimi_client\Debug\"/>
    
    <!--FIMI host end point-->
    <add key="FIMIDriver_EP" value="http://10.10.10.1:11111"/>
        
    <!--Default value for all requests-->
    <add key="Clerk" value="Clerk"/>

    <add key="ClerkPassword" value="ClerkPassword"/>

    <add key="FIMIVer" value="16.14"/>
    
    <!--Default value for "InitSessionRq" request-->
    <add key="NeedDicts" value="0"/><!--See FIMI/InitSession/Rq/NeedDicts-->
    <add key="NeedDictsSpecified" value="1"/>
    <add key="AllVendorsSpecified" value="1"/>
    <add key="AvoidSessionSpecified" value="1"/>

    <!--For Transactional Operating Mode-->
    <add key="Force" value="1"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
